Source: unused-net-protocols
Section: misc
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: http://nx-desktop.org


Package: unused-net-protocols
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Disable unused network protocols

